body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(222, 212, 231);
}

li {
  list-style: none;
  border: 1px solid;
  padding: 1rem;
  background-color: rgb(255, 194, 222);
}

button{
  background-color: rgb(255, 194, 222);
  border-color: rgb(178, 136, 218);
}

button:hover{
  border-color: rgb(245, 120, 120);
  cursor: pointer;
}